* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 4em;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav-nuevo {
  background-image: linear-gradient(
    rgb(0, 140, 255),
    rgba(255, 192, 203, 0.842)
  );
}

.parallax {
  background: linear-gradient(
    to bottom,
    rgba(255, 192, 203, 0.842),
    rgba(140, 212, 245, 0.89)
  );
}

.titulo {
  font-size: 4em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding: 10px;
}

.carousel {
  margin: 0 auto;
}

.sponsor {
  width: 10%;
}

/* Nosotras */
.nosotras {
  display: flex;
  justify-content: space-around;
}

.nosotras-card {
  border-radius: 50px;
}

.title-nos {
  font-size: 4em;
  text-align: center;
  padding: 10px;
  font-family: "Merriweather", serif;
  margin-top: 20px;
}

.img-nos {
  border-radius: 50px;
}

.card-nos {
  justify-content: center;
  align-content: center;
}

/* Quienes Somos */

.texto-somos {
  text-align: center;
  margin-bottom: 1.5em;
  align-content: center;
}

/* Mision, vision, valores */

.cont-mision {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mision {
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 2rem;
  height: 500px;
}

.card {
  perspective: 800px; /* Define la perspectiva de la tarjeta */
}

.card-inner {
  width: 300px;
  height: 200px;
  transition: transform 0.8s; /* Agrega una transición suave para la animación */
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(
    180deg
  ); /* Rota la tarjeta en el eje Y al pasar el cursor sobre ella */
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-mision {
  margin: 0;
}

.fondo-mision {
  background-color: rgb(128, 172, 128);
}

.fondo-vision {
  background-color: rgb(128, 128, 238);
}

.fondo-valores {
  background-color: rgb(235, 105, 105);
}

/* Servicios */

.text-serv {
  text-align: center;
  margin-bottom: 1.5em;
  align-content: center;
  font-size: 30px;

}

/* Boton Contactos */

.div-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-contacto{
  width: 600px;
  height: 300px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  border: none;
  margin: 30px;
  background-color: #7bfaba; /* Color de fondo */
  color: black; /* Color del texto */
  padding: 16px 32px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 50px; /* Esquinas redondeadas */
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Texto en mayúsculas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

/* Boton Talleres */

.btn-taller{
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  background-color: #4c8fff; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 12px 24px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 50px; /* Esquinas redondeadas */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Texto en mayúsculas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
}

.boton-efecto:hover {
  transform: scale(1.1); /* Escala el botón al pasar el mouse */
}

/* Footer */

.footer {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  background-color: aqua;
}

.prueba{
  display: flex;
  justify-content: center;
  align-items: center;
}





